# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache

# Caches
*.sqlite3
*.db
*.db-journal

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
venv/
env/
ENV/
.venv/
.python-version

# Env files
.env
.env.*

# Logs
*.log

# IDE/editor files
.vscode/
.idea/
*.swp
*.swo

# Docker files
docker-compose.override.yml

# Python profiler
.prof

# Redis dump (si generas archivos de dump)
dump.rdb

# Misc
*.pem
*.crt
*.key

